[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[user]
    name = Cedric Gelinas demers
    email = cedricgelinas@hotmail.com
[alias]
    ci = commit
    co = checkout
    st = status
