[color]
        diff = auto
	status = auto
	branch = auto
[user]
        name = votre_pseudo
        email = moi@email.com
[alias]
        ci ='commit'
        co ='checkout'
        st ='status'
        br ='branch'
