[color]
        diff = auto
	status = auto
	branch = auto
[user]
        name = Cedric Gelinas demers
        email = cedricgelinas@hotmail.com
[alias]
        ci = commit
        co = checkout
        st = status
[color]
	ui = true
